---
layout: default
---
<header class="post-header">
  <h1 class="post-title">About</h1>
</header>

<p>It seems we are confronted almost daily with some new disaster. From natural disasters spurred on by climate change to global pandemics, from war and genocide to never-ending recessions, poverty, and racism – living in the twenty-first century means living with the effects of daily catastrophe. While the outlines of these disasters as they are reported in the media and represented by Hollywood are predictable, the explorations of disaster in literature are less familiar. This course will explore how contemporary literature imagines catastrophe, focusing on the social, political, and historical contexts of disaster fiction. How does contemporary literature question, rewrite, or challenge what a “disaster” means? How does it encourage us to think about disaster differently, and, most importantly, to change our responses to it?</p>

<p>MW 3:35-4:50<br/>
Stanford Commons 105</p>

<p>Professor Lindsay Thomas<br/>
University of Miami</p>

<p>Office Hours:<br/>
MW 11:15 am – 1:15 pm, and by appointment<br/>
Ashe 401</p>
